<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Exam Intro</title>
</head>
<body>
    <div class="w3-container w3-green">
        <h1>Vet Booklet</h1>
    </div>
    <br>
    <div class="w3-container">
      <div class="w3-container w3-green">
        <h2>Add Exam</h2>
      </div>
      
      <form class="w3-container" action="/insert_exam" method="POST">
        <br>
        <label class="w3-text-teal"><b>Exam Name</b></label>
        <input class="w3-input w3-border w3-light-grey" type="text" name="name" required>
      
        <label class="w3-text-teal"><b>Exam Type</b></label>
        <input class="w3-input w3-border w3-light-grey" type="text" name="exam_type" required>

        <label class="w3-text-teal"><b>Date of Exam</b></label>
        <input class="w3-input w3-border w3-light-grey" type="date" name="date_of_exam" required>

        <input type="hidden" name="pet_exam" value="{{ pet_id }}">

        <br>
        <button class="w3-btn w3-blue-grey">Register</button>
      </form>
    </div>
</body>
</html>